<% if ResumeList.my_resume_list_by_type(@user_id, list_type).any? %>
  <h2><%= "#{title}" %></h2>

  <table>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>

    <% ResumeList.my_resume_list_by_type(@user_id, list_type).each do |resume_list_item| %>
      <tr>
        <td><%= resume_list_item.description %></td>
        <td><%= button_to 'Edit', edit_resume_list_path(resume_list_item), class: "standard-button nav-button", method: :get, params: { user_id: @user_id } %></td>
        <td><%= button_to 'Destroy', resume_list_path(resume_list_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button", params: { user_id: @user_id } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
