<h1>Edit Resume List Item</h1>

<%= render 'form' %>

<%= link_to 'Destroy', resume_list_path(@resume_list_item, user_id: @user_id), method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', resume_lists_path(user_id: @user_id) %>