<h1>Edit Resume List Item</h1>

<%= render 'form' %>

<%= button_to 'Destroy', resume_list_path(@resume_list_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button", params: { user_id: @user_id } %>
