<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Hi <%= @user.first_name %>,</h1>
<p>Welcome to the Resume application developed by Sami Makhuli, </p>
<p>
  Your username is: <strong><%= @user.email %></strong>.
</p>
<p>Thanks for trying out the resume application!</p>
</body>
</html>