<div class="bg-color">
  <%= render partial: 'display_resume'  %>

  <table>
    <tr>
      <td><%= button_to 'Generate Resume as PDF', generate_pdf_user_path(@user), class: "standard-button nav-button", method: :get %></td>

      <% if Rails.env.development? %>
        <td><%= render partial: 'layouts/back_button' %></td>
      <% end %>

    </tr>
  </table>

</div>
