<h1>Edit Employment Record</h1>

<%= render 'form' %>

<%= button_to 'Destroy', employment_record_path(@employment_record, user_id: @user_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button" %>
