<h1>Edit Employment Record</h1>

<%= render 'form' %>

<%= link_to 'Destroy', employment_record_path(@employment_record), method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', users_path %>