<h1>Edit Reference</h1>

<%= render 'form' %>

<%= button_to 'Destroy', reference_path(@reference), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button", params: { user_id: @user_id } %>
