<h1>Edit Reference</h1>

<%= render 'form' %>

<%= link_to 'Destroy', reference_path(@reference, user_id: @user_id), method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', references_path(user_id: @user_id) %>