// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toggle-button {
  //background-color: #d4f1d5;
  //border: 2px solid black;
  background-color: #4CAF50;
  color: #fff;
  font: normal 16px arial, sans-serif;
  padding: 10px 10px;
  border-radius: 15px;
  //box-shadow: 0 9px #999;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.toggle-button:hover {background-color: #3e8e41}

.toggle-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}