// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.standard-button {
  //border: 2px solid black;
  background-color: #4CAF50;
  color: #fff;
  font: normal 16px arial, sans-serif;
  padding: 10px 10px;
  border-radius: 15px;
  //box-shadow: 0 9px #999;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.toggle-button {
  background-color: #4CAF50;
  text-decoration: none;
}

.toggle-button:hover {background-color: #3e8e41}

.toggle-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-button {
  background-color: #644ac5;
  text-decoration: none;
}

.nav-button:hover {background-color: #161f63}

.alert-button {
  background-color: #de4040;
  text-decoration: none;
}

.alert-button:hover {background-color: #a53535}

.show-button {
  background-color: #0099cc;
  text-decoration: none;
}

.show-button:hover {background-color: #0066cc}

.center-text {
  text-align: center;
}

.bg-color {
  padding: 10px;
  background-color: #cec1c1;
}

.message {
  font-weight: bold;
  padding: 5px 5px;
}

.notice {
  background-color: #61f589;
}

.alert {
  background-color: #ef6c6c;
}

.text-input {
  float: left;
  width: 70%;
  white-space: pre-wrap;
  display: block;
  //height: 25px;
}